/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/****** variables ******/
/****** mixins ******/
/****** basic ******/
* {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat Alternates', sans-serif;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5em;
  color: #5c575e;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #2d6209;
  font-size: 2rem;
}
@media only screen and (min-width: 320px) and (max-width: 719px) {
  header a {
    font-size: 1.5rem;
  }
}
header p {
  text-align: justify;
  width: 50%;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  header p {
    width: 60%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  header p {
    width: 70%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 719px) {
  header p {
    width: 100%;
  }
}
@media (max-width: 515px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.75em;
  font-size: 2rem;
  color: #2d6209;
}
nav {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  img {
    width: 50%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  img {
    width: 70%;
  }
}
button {
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  background: #b5b5b5;
  color: #5c575e;
  font-size: 1.6rem;
  margin: 20px;
  padding: 12px 40px;
  border: 3px solid #5c575e;
  border-radius: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 719px) {
  button {
    width: 90%;
  }
}
button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid #5c575e;
  color: #5c575e;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
}
/****** container ******/
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1140px;
}
@media (max-width: 1300px) {
  .container {
    width: 80%;
  }
}
.middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card {
  margin: 20px 0;
}
.sell {
  text-align: justify;
}
.skills {
  background-color: #b5b5b5;
  padding: 20px;
  text-align: center;
  margin-left: 40px;
}
.bottom {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 719px) {
  .work-history {
    display: none;
  }
}
/**** table *****/
table {
  width: 100%;
  text-align: right;
  padding-top: 20px;
}
table tr,
table th,
table td {
  padding: 20px;
  border: 2px solid #b5b5b5;
}
@media only screen and (min-width: 320px) and (max-width: 719px) {
  table tr,
  table th,
  table td {
    display: none;
  }
}
table th {
  background-color: #2d6209;
  color: #b5b5b5;
}
table th:nth-child(1) {
  width: 10%;
}
/***** footer *****/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  color: #2d6209;
}
.footer .address {
  text-align: center;
  color: #5c575e;
  padding-bottom: 30px;
}
.footer p {
  padding-top: 20px;
}
.foot {
  border: 2px solid #2d6209;
  border-radius: 30px;
  padding: 0 40px;
}
